<main>
  <div class="jumbotron">
    <h1 class="jumbohead">TED Chat</h1>
    <p>Find and save your favourite TED Talks easily.</p>
    <p>Leave notes for yourself about why you love a talk or discuss with other people what's great about it.</p>
    <p><a class="btn btn-info btn-lg" ui-sref="about">Learn more</a></p>
  </div>

  <div ng-repeat="videoId in main.videoIds">
    <youtube video-id="videoId"></youtube>
    <button
      ng-show="main.isLoggedIn()"
      ng-click="main.saveVideoToUser(videoId)" 
      class="btn btn-default btn-sm" 
      >Save to your favourites</button>
  </div>
</main>

