<section ng-hide="main.isLoggedIn()" class="login">
  <hr>
  <form id="login" 
    ng-submit="main.login()" 
    class="form-horizontal">
    <fieldset>
      <h3 class="login">Login</h3>
      <div class="form-group">
        <label for="inputEmail" 
          class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" 
            class="form-control" 
            id="inputEmail" 
            placeholder="Email" 
            ng-model="main.user.email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" 
          class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" 
            class="form-control" 
            id="inputPassword" 
            placeholder="Password" 
            ng-model="main.user.password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" 
            class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</section>